definitions.vtl

<h1>$word.getWord</h1>

<ul>
  #foreach($definition in $definitions)
    $definition.getDefinition()
  #end
</ul>
    <h3><a href="/words/$word.getId()">Add a definition to $word.getWord()</a></h3>
  
