index.vtl

<div class= "jumbotron">
  <h1>Create a dictionary</h1>
</div>

<br>

<a class="btn btn-danger" href="/words/new">Add Word</a>
<a class="btn btn-default" href="/">View Words</a>

 #foreach ($word in $words)
   <div id="word-list" class="well">
       <a id="wordInput" href="/words/$word.getId()">$word.getWord()</a>
   </div>
 #end
