index.vtl


<h1>Create a dictionary</h1>

<a class="btn btn-success" href="/words/new">Add Word</a>
<a class="btn" href="/">View Words</a>

 #foreach ($word in $words)
 <div id="word-list" class="well">
     <a id="wordInput" href="/words/$word.getId()">$word.getWord()</a>
 </div>
 #end
