words.vtl

<h1>Words for the dictionary</h1>
  <form action="/" method="post">
    <input id="word" type="text" name="word">
    <button class="btn btn-danger" type="submit">Add Word</button>
  </form>
