word.vtl

<h1>$word.getWord()</h1>
    <a class="btn" href="/words/$word.getId()/definitions/new">Add Definition</a>
    <a class="btn" href="/">View Words</a>

<ul>
  #foreach($definition in $word.getDefinitions())
    <li>$definition.getDefinition()</li>
  #end
</ul>
